*{
    box-sizing:border-box;
}

/* header/////////////////////////////////////////////////////////////////////////////////////////*/
.pageHeaderContainer{
    
display: flex;
justify-content: center;




}
.pageHeader{
    font-size: 5em;
    position: absolute;
    top:0;

    font-style: cursive;
    
}

/*main /////////////////////////////////////////////////////////////////////////////////////*/
h1{
    font-style: italic;
}

.articleRow1{
    margin-top:92px;
    display: flex;
   
    border: 2px solid;
}
.article{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 8px ;
    flex:1;
    
}
.article p{
    font-size: 18px;
}


.article2{
    border-right: 1px solid;
    border-left: 1px solid;
    padding:0px 8px 0px 8px;
    flex:2;
}
.article2 img{
    width:100%;
}

.articleRow2{
    display:flex;
    border:2px solid;
    border-top:0px solid;
}

.article4{
    flex:1;
    border-right:1px solid black;
    margin-right:0;
}


.categoryNavBarContainer{
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0px;
    flex:2;
    
    
}


.category{
    list-style-type: none;
    padding-left:10px;
    font-weight: bold;
    font-size:2em;
    display: flex;
    align-items: center;
    flex:1;
    

}
.category:nth-child(1){
    background-color:  yellow;
}
.category:nth-child(2){
    background-color:  lightblue;
}
.category:nth-child(3){
    background-color:  green;
}
.category:nth-child(4){
    background-color:  blue;
}
.category:nth-child(5){
    background-color:  purple;
}

.category a{
    text-decoration: none;
    color:black;
}
.category a:hover{
    text-decoration: underline;
}
